<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <configSections>
      <!-- KVLite Configuration Header (START) -->
      <section name="pommaLabs.kvlite" type="PommaLabs.KVLite.Configuration, PommaLabs.KVLite" />
      <!-- KVLite Configuration Header (END) -->
   </configSections>

   <!-- KVLite Configuration Section (START) -->
   <pommaLabs.kvlite DefaultCachePath="~/App_Data/PersistentCache/PersistentCache.sqlite" MaxCacheSizeInMB="256"
                     MaxLogSizeInMB="32" OperationCountBeforeSoftCleanup="10" NancyCacheKind="Persistent" />
   <!-- KVLite Configuration Section (END) -->

   <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <httpHandlers>
         <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      </httpHandlers>
   </system.web>


   <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <httpErrors existingResponse="PassThrough" />
      <handlers>
         <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      </handlers>
   </system.webServer>
</configuration>