<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="Finsa.CodeServices.Caching" version="4.1.5.4" targetFramework="net40" />
  <package id="Finsa.CodeServices.Clock" version="4.1.5.4" targetFramework="net40" />
  <package id="Finsa.CodeServices.Common" version="4.1.5.4" targetFramework="net40" />
  <package id="Finsa.CodeServices.Compression" version="4.1.5.4" targetFramework="net40" />
  <package id="Finsa.CodeServices.Serialization" version="4.1.5.4" targetFramework="net40" />
  <package id="Finsa.CodeServices.Serialization.Json" version="4.1.5.4" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net40" />
  <package id="Thrower" version="2.2.4" targetFramework="net40" />
  <package id="Troschuetz.Random" version="4.0.4" targetFramework="net40" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net40" />
</packages>