<?xml version="1.0"?>

<configuration>
  <configSections>
    <!-- KVLite Configuration Header (START) -->
    <section name="KVLiteConfiguration" type="KVLite.Configuration, KVLite" />
    <!-- KVLite Configuration Header (END) -->
  </configSections>

  <!-- KVLite Configuration Section (START) -->
  <KVLiteConfiguration DefaultCachePath="PersistentCache.sqlite" MaxCacheSizeInMB="256"
                       OperationCountBeforeSoftCleanup="5" />
  <!-- KVLite Configuration Section (END) -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>