<?xml version="1.0" encoding="utf-8" ?>

<configuration>
   <configSections>
      <!-- KVLite Configuration Header (START) -->
      <section name="KVLiteConfiguration" type="KVLite.Configuration, KVLite" />
      <!-- KVLite Configuration Header (END) -->
   </configSections>

   <!-- KVLite Configuration Section (START) -->
   <KVLiteConfiguration CachePath="PersistentCache.sdf" MaxCacheSizeInMB="256" OperationCountBeforeSoftCleanup="21" />
   <!-- KVLite Configuration Section (END) -->
</configuration>