<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KVLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <KVLite.Properties.Settings>
      <setting name="ConnectionStringFormat" serializeAs="String">
        <value>Data Source={0}; Version=3; Max Page Count={1};</value>
      </setting>
      <setting name="AppSettings_CachePathKey" serializeAs="String">
        <value>KVLite.FileCache.CachePath</value>
      </setting>
      <setting name="DefaultMaxCacheSize" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="AppSettings_MaxCacheSizeKey" serializeAs="String">
        <value>KVLite.FileCache.MaxCacheSize</value>
      </setting>
      <setting name="DefaultCachePath" serializeAs="String">
        <value>FileCache.kvlite</value>
      </setting>
      <setting name="CacheCreationScript" serializeAs="String">
        <value>CREATE TABLE "cache_item" ("id" INTEGER PRIMARY KEY  AUTOINCREMENT  NOT NULL , "key" VARCHAR NOT NULL  UNIQUE , "value" BLOB NOT NULL , "expiry" DATETIME NOT NULL );
CREATE UNIQUE INDEX "cache_expiry_dates" ON "cache_item" ("expiry" ASC);</value>
      </setting>
    </KVLite.Properties.Settings>
  </applicationSettings>
</configuration>