<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KVLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <KVLite.Properties.Settings>
      <setting name="ConnectionStringFormat" serializeAs="String">
        <value>Data Source={0};Persist Security Info=False;</value>
      </setting>
      <setting name="AppSettings_CachePathKey" serializeAs="String">
        <value>KVLite.FileCache.CachePath</value>
      </setting>
      <setting name="DefaultCachePath" serializeAs="String">
        <value>FileCache.kvlite</value>
      </setting>
      <setting name="CacheCreationScript" serializeAs="String">
        <value>CREATE TABLE [Cache_Item] (
  [Partition] NVARCHAR(100) NOT NULL,
  [Key] NVARCHAR(100) NOT NULL,
  [Expiry] DATETIME NOT NULL,
  [Value] IMAGE NOT NULL,
  CONSTRAINT Cache_Item_PK PRIMARY KEY ([Partition], [Key])
);</value>
      </setting>
      <setting name="DefaultPartition" serializeAs="String">
        <value>*</value>
      </setting>
    </KVLite.Properties.Settings>
  </applicationSettings>
</configuration>