<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PommaLabs.KVLite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <applicationSettings>
        <PommaLabs.KVLite.Properties.Settings>
            <setting name="PCache_DefaultFile" serializeAs="String">
                <value>PersistentCache.sqlite</value>
            </setting>
            <setting name="DefaultStaticIntervalInDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PCache_DefaultMaxCacheSizeInMB" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="PCache_DefaultInsertionCountBeforeCleanup" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="NancyCacheKind" serializeAs="String">
                <value>Volatile</value>
            </setting>
            <setting name="PCache_DefaultMaxLogSizeInMB" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="DefaultPartition" serializeAs="String">
                <value>_DEFAULT_PARTITION_</value>
            </setting>
        </PommaLabs.KVLite.Properties.Settings>
    </applicationSettings>
</configuration>