<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="CodeProject.ObjectPool" version="1.0.3" targetFramework="net40" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net40" />
  <package id="Dapper" version="1.30" targetFramework="net40" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net40" />
  <package id="System.Data.SQLite.Core.MSIL" version="1.0.93.0" targetFramework="net40" />
  <package id="Thrower" version="0.12.0" targetFramework="net40" />
</packages>